
body {
	background-color: #000020;
}
button {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
	margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	cursor: pointer;
	position: relative;
}
label{
	display:block;
	margin-bottom: 10px;
	color:black;
}
input[type=button]{
	width: 40%;
}
/*iframe{
	width:100%;
	height:450px;
} */

/* Définition des id (unique) */

#button{
	position: absolute;
	top: 11px;
	right:10px;
}
#map{
	width: 100%;
	position: absolute;
	height:550px;
	/*frameborder:0;*/
}
#formulaireAjouter{
	border:solid 1px #CBD0CF;
	position: absolute;
	right:12px;
	top: 70px;
	height:auto;
	width: 150px;
	background: whitesmoke;
	margin: 10px;
	padding: 10px;
	color: black;
	margin: 2px;
    font-size: 16px;
    font-family:"Arial";
}
#formulaireSupprimer{
	border:solid 1px #CBD0CF;
	position: absolute;
	right:10px;
	top: 70px;
	height:auto;
	width: auto;
	background: whitesmoke;
	margin: 10px;
	padding: 10px;
	color: black;
	margin: 2px;
    font-size: 16px;
    font-family:"Arial";
}
#ananas{
	position:relative;
	top:5px;
	width:150px;
	text-align: center;
	margin:5px;
}
#infobox{
	position:relative;
	top:5px;
	left:200px;
	width:300px;
	text-align: left;
	margin:5px;
	background-color:yellow;
}
#AffichButton{
	position: absolute;
	bottom: 11px;
	left:10px;
}
#ListeCouches{
	position: absolute;
	bottom: 11px;
	left:145px;
	height:18px;
	background: whitesmoke;
	margin: 2px;
	padding: 15px 32px;
	font-size: 16px;
}
#ListeCouches input {
	cursor:pointer;
	width: 15px; height: 15px;
}
#FondCarte{
	position:absolute;
	background:#4CAF50; /* Green */
	height:auto;
	width:332px;
	right:10px;
	bottom:11px;
	color: white;
	padding: 15px 32px;
	margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family:"Arial";
}
#FondCarte input {
	cursor:pointer;
	width: 15px; height: 15px;
}

/* Définition des class (plusieur) */

.container {
	margin: 10px;
	padding: 10px;
}
.header{
	position: relative;
	background:#f4ce42;
	height:60px;
	width:100%;
	line-height: 60px;
	text-align: center;
}
.milieu{
	position:relative;
	background:#c6c6c6;
	height:550px;
	width:auto;
}
.bas{
	position:relative;
	color:white;
	background:#f4ce42;
	height:60px;
	width:100%;
}	
.bas span {
	line-height: 60px;
	margin-left: 15px;
	font-size: 0.8em;
}

/* Affichage JavaScript */

.active{
	/* display:block; */
	visibility: visible;
}
.inactive{
	/* display: none; */
	visibility: hidden;
}





/* Joli bouton checkbox */

