
body {
	background-color: #000020;
}
button {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
	margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	cursor: pointer;
	position: relative;
}
label {
	display:block;
	margin-bottom: 10px;
	color:black;
}
input[type=button]{
	width: 40%;
}
#button {
	position: relative;
	float: right;
}
#map {
	width: 100%;
	position: fixed;
}
#formulaire {
	position: relative;
	float:right;
	top: 100px;
	right: -398px;
	height:100%;
	width: 300px;
	background: whitesmoke;
}
.active{
	display:block;
}
.container {
	margin: 10px;
	padding: 10px;
}
.milieu{
	background:#c6c6c6;
	height:auto;
	width:100%;
}
.header{
	background:#f4ce42;
	height:80px;
	width:100%;
	line-height: 80px;
	text-align: center;
}
.header img{height:80px;width:auto;}

.bas{
	color:white;
	background:#f4ce42;
	height:80px;
	width:100%;
	
}
.bas > button{
	line-height: 40px;
	float:right;
	margin:15px 5px 15px 0;
	padding: 5px 15px;
}	
.bas span {
	line-height: 80px;
	margin-left: 15px;
	font-size: 0.8em;
}
