
body {
	background-color: #000020;
}
button {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
	margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	cursor: pointer;
	position: relative;
}
label{
	display:block;
	margin-bottom: 10px;
	color:black;
}
input[type=button]{
	width: 40%;
}

/* Définition des id (unique) */

#button{
	position: absolute;
	top: 110px;
	right:10px;
}
#map{
	width: 100%;
	position: absolute;
}
#formulaireAjouter{
	position: absolute;
	right:12px;
	top: 170px;
	height:auto;
	width: 180px;
	background: whitesmoke;
	margin: 10px;
	padding: 10px;
}
#formulaireSupprimer{
	position: absolute;
	right:12px;
	top: 170px;
	height:auto;
	width: 180px;
	background: whitesmoke;
	margin: 10px;
	padding: 10px;
}
#AffichButton{
	position: absolute;
	bottom: 38px;
	left:17px;
}
#ListeCouches{
	position: absolute;
	bottom: 38px;
	left:150px;
	background: whitesmoke;
	margin: 2px;
	padding: 15px 32px;
}

/* Définition des class (plusieur) */

.container {
	margin: 10px;
	padding: 10px;
}
.header{
	position: relative;
	background:#f4ce42;
	height:80px;
	width:100%;
	line-height: 80px;
	text-align: center;
}
.milieu{
	position:relative;
	background:#c6c6c6;
	height:auto;
	width:100%;
}
.bas{
	color:white;
	background:#f4ce42;
	height:80px;
	width:100%;
}	
.bas span {
	line-height: 80px;
	margin-left: 15px;
	font-size: 0.8em;
}

/* Affichage JavaScript */

.active{
	display:block;
}
.inactive{
	display: none;
}